# Ignore everything
*

# Python environment
!environment.yml

# sjautobidder distributions
!dist/
!sjautobidder
!setup.cfg
!README.md
!pyproject.toml

!dockerstart.sh

# website distribution
!webpage/
