[flake8]
max-line-length = 120

ignore =
	; N806 - Variables in function should be lowercase
	N806,
	; W503 - Line break occurred before a binary operator
	; The opposite is true: linebreaks should happen at the start of the line.
	W503

include =
	; E121 - Continuation line under-indented for hanging indent
	E121,
	; E123 - Closing bracket does not match indentation of opening bracket's line
	E123,
	; E126 - Continuation line over-indented for hanging indent
	E126,
	; E226 - Missing whitespace around arithmetic operator
	E226,
	; Multiple spaces after ','
	; Tab after ','
	E24,
	; E704 - Multiple statements on one line (def)
	E704
